
<%= form_for(puesto) do |f| %>
  <% if puesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puesto.errors.count, "error") %> prohibited this puesto from being saved:</h2>

      <ul>
      <% puesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :numPuestoUNAM %>
    <%= f.number_field :numPuestoUNAM %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :horario %>
    <%= f.time_field :horario %>
  </div>

  <div class="field">
    <%= f.label :info_general %>
    <%= f.text_field :info_general %>
  </div>

  <div class="field">
    <%= f.hidden_field :coordenadas %>
  </div>

  <div class="field">
    <%= f.hidden_field :lat %>
  </div>

  <div class="field">
    <%= f.hidden_field :lng %>
  </div>

  <div class =""style='width: 100%;'> 
      <div id="MapaEditar" class = "mapEdit"></div>
  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript" async defer>
  
/*
*Se crea el mapa con todos los markers de los puestos existentes y uno para editar o
*crear el maker del puesto que se creara o editara
*/
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {styles: mapStyle,center: {lat: 19.323657, lng:-99.179663 },}, internal: {id: 'MapaEditar'}}, function(){
      marker = handler.addMarkers(
        [
          {
            <%if defined?(@puestoe) %>
              <% if @puestoe.lat != " " && @puestoe.lng != " " %>
                "lat": <%= @puestoe.lat %>,
                "lng": <%= @puestoe.lng %>,
              <% else %>
                "lat": 19.323657, 
                "lng": -99.179663,
              <% end %>
            <% else %>
              "lat": 19.323657, 
              "lng": -99.179663,
            <% end %>
            picture: {
            url: "https://i.stack.imgur.com/rU427.png",
            width:  21,
            height: 36,
            },
          }
        ]
      ,{ draggable: true}
      );
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(18);

      // Move existing marker
      google.maps.event.addListener(marker[0].serviceObject, 'dragend', function() {
        updateFormLocation(this.getPosition());
      });
    });

    // Update form attributes with given coordinates
    function updateFormLocation(latLng) {
      $('#puesto_lat').val(latLng.lat());
      $('#puesto_lng').val(latLng.lng());
      console.log("coordenadas:" + latLng.lat() + latLng.lng());
    }

</script>
  