
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
       <div class="slider">
    <ul class="slides">
      <li>
        <img class="activator" src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img class="activator" src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img class="activator" src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img class="activator" src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <h1><%= @puesto.nombre %></h1>
      <p>
        <h4><strong>Información general:</strong></h4>
        <%= @puesto.info_general %>
      </p>
    </div>
  </div>

<div class = "puestoDetalles">
<%= link_to 'keyboard_backspace', puestos_path, :class=>"medium material-icons " %>
<!--
<p>
  <strong>Nombre:</strong>
  <%= @puesto.nombre %>
</p>

<p>
  <strong>Numpuestounam:</strong>
  <%= @puesto.numPuestoUNAM %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @puesto.imagen %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @puesto.horario %>
</p>

<p>
  <strong>Info general:</strong>
  <%= @puesto.info_general %>
</p>

<p>
  <strong>Coordenadas:</strong>
  <%= @puesto.coordenadas %>
</p>
-->

<h6>Estrellas</h6>
<% @lista = Califica.where(puesto_id: @puesto.id).pluck(:estrellas)%>
<% @avg = @lista.inject{ |sum, el| sum + el }.to_f / @lista.size%>
<%if !@avg.nan?%>
  <%= @lista.inject{ |sum, el| sum + el }.to_f / @lista.size%><div id="rateYo2"></div>
<%else%>
  <span>0</span>
  <div id="rateYo2"></div>
<%end%>
<div class = "comentarios">
<%@c = 3%>
<% @puesto.calificas.each do |c|%>
<hr>
  <div>Calificación:<span class="<%= @c%>"></span></div>
  <%= c.user.email%>:
  <%= c.comentario%>. 
  <script>
    $(function () {// no se puede modificar 
    
   $("." + "<%= @c%>").rateYo({
     readOnly: true,
     starWidth: "20px",
      rating:<%= c.estrellas%>
   });
 });
  </script>
  <%@c += 1%>
  <br>

  <%if user_signed_in? && current_user.id == c.user_id%>
    <%= link_to 'Eliminar comentario', [@puesto,c], method: :delete, data: {confirm: "Seguro?"} %>
    <br>
  <%end%>

<%end%>
</div>

<%if user_signed_in? && !current_user.isAdmin?%>
  <h6>Añade un comentario</h6>
  <div class="row">
  <%= form_for([@puesto, @puesto.calificas.build]) do |f| %>
  
    <p>
      <%= f.label :comentario %><br>
      <%= f.text_area :comentario %>
    </p>
    
      <div id="rateYo"></div>
      <%= f.hidden_field :estrellas, min: 1, max: 5%>  
      <%= f.submit "Comentar", {class: 'boton-comentario'}%>
    </p>
  <% end %>
  </div>
<%end%>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script> 
<script type="text/javascript" >
    $(document).ready(function(){
      $('.slider').slider();
      $('.slider').height(400);
    });

 $('div.card').parents('.container').css({'width': '100%', 'max-width': '1980px'});

 
  $(function () { // se puede modificar 
  
   $("#rateYo").rateYo({
     starWidth: "20px",
     fullStar:true
   });
 });

 
  $(function () {// no se puede modificar 
  
   $("#rateYo2").rateYo({
     readOnly: true,
     starWidth: "20px",
      rating:<%= @avg%>
   });
 });
 
 $('#rateYo').hover(function(){
    var normalFill = $("#rateYo").rateYo("option", "rating"); //obtener número 
    $('#califica_estrellas').val(normalFill);
    console.log( normalFill);
 });
 
 // Setter
 $("#rateYo").rateYo("option", "rating", 5); //poner número
 
 </script>
 
