

<div class ="hola"style='width: 100%;'> 
    <div id="multi_markers" class = "map"></div>
    <div class = "puestos">
        <h1>Puestos</h1>
        <div class="row enlistaPuestos style-10">
          <% @puestos.each do |puesto| %>
          <div class="col m12">
            <div class="card-panel" style="width : 410px ">
              <span class="white-text">
                  <%= puesto.nombre %> 
              </span>
              <div class="card-action">
                  <%= link_to 'visibility', puesto, :class=>"medium material-icons visibility"%>
              </div>
          </div>
      </div>
      <%end%>
  </div>
</div>
</div>
<%if user_signed_in? && current_user.isAdmin?%>
<div class="fixed-action-btn">
  <%= link_to "add".html_safe, new_puesto_path, :class=>"btn-floating btn-large large material-icons add" %>
</div>
<%end%>
<br>
<%= link_to "navigate_before".html_safe, root_path, :class=>"medium material-icons" %>

<!--
<h1>Puestos</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numpuestounam</th>
      <th>Imagen</th>
      <th>Horario</th>
      <th>Info general</th>
      <th>Coordenadas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puestos.each do |puesto| %>
      <tr>
        <td><%= puesto.nombre %></td>
        <td><%= puesto.numPuestoUNAM %></td>
        <td><%= puesto.imagen %></td>
        <td><%= puesto.horario %></td>
        <td><%= puesto.info_general %></td>
        <td><%= puesto.coordenadas %></td>
        <td><%= link_to 'Show', puesto %></td>
        <td><%= link_to 'Edit', edit_puesto_path(puesto) %></td>
        <td><%= link_to 'Destroy', puesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" async defer>
        var mapStyle = [
        {
            "featureType": "water",
            "stylers": [
            {
                "color": "#021019"
            }
            ]
        },
        {
            "featureType": "landscape",
            "stylers": [
            {
                "color": "#08304b"
            }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
            {
                "color": "#0c4152"
            },
            {
                "lightness": 5
            }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
            {
                "color": "#000000"
            }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
            {
                "color": "#0b434f"
            },
            {
                "lightness": 25
            }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
            {
                "color": "#000000"
            }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "geometry.stroke",
            "stylers": [
            {
                "color": "#0b3d51"
            },
            {
                "lightness": 16
            }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [
            {
                "color": "#000000"
            }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
            {
                "color": "#ffffff"
            }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 13
            }
            ]
        },
        {
            "featureType": "transit",
            "stylers": [
            {
                "color": "#146474"
            }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "geometry.fill",
            "stylers": [
            {
                "color": "#000000"
            }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "geometry.stroke",
            "stylers": [
            {
                "color": "#144b53"
            },
            {
                "lightness": 14
            },
            {
                "weight": 1.4
            }
            ]
        }
        ];

handler = Gmaps.build('Google');
handler.buildMap({ provider: {styles:    mapStyle}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(
    [
      {
        "lat": 19.323842,
        "lng": -99.178965,
      }
    ]
  ,{ draggable: true}
  );
  handler.addMarkers([{
        "lat": 19.323842,
        "lng": -99.178965,
  }]);
  handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();

  // Move existing marker
  google.maps.event.addListener(markers[0].serviceObject, 'dragend', function() {
    updateFormLocation(this.getPosition());
  });
});

// Update form attributes with given coordinates
function updateFormLocation(latLng) {
  $('#latitude').val(latLng.lat());
  $('#longitude').val(latLng.lng());
  console.log("coordenadas:" + latLng.lat() + latLng.lng());
}
    </script>

<br>-->

