<%if false%>
<%= form_for(califica) do |f| %>
  <% if califica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(califica.errors.count, "error") %> prohibited this califica from being saved:</h2>

      <ul>
      <% califica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :puesto_id %>
    <%= f.text_field :puesto_id %>
  </div>

  <div class="field">
    <%= f.label :comentario %>
    <%= f.text_area :comentario %>
  </div>

  <div class="field">
    <%= f.label :estrellas %>
    <%= f.number_field :estrellas %>
  </div>

  <div class="actions">
    <%= f.submit "Comentar" %>
  </div>
<% end %>
<% end %>

 <h3>Añade un comentario</h3>
  
  <%= form_for([@puesto, @puesto.calificas.build]) do |f| %>
  
    <p>
      <%= f.label :comentario %><br>
      <%= f.text_area :comentario %>
    </p>
    <p>
      <%= f.label :estrellas%>
      <%= f.number_field :estrellas%>  
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
